/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 *
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */

 .notion-header {
  position: -webkit-relative;
  position: relative; }

.notion-collection-header {
  display: none;
}

.index-page .notion-code {
  font-size: 85%;
  width: 92%;
}

.index-page .notion-page-icon-hero {
  display: none;
}

.index-page .notion-page-icon {
  font-size: 0.9em;
}

/* inner pages (hidden view) */
.notion-collection.notion-block-e8ad426f5a284e4e93b74953bc332397 {
  display: none;
}

/* toots */

.notion-block-359d4507471542cd87786b48c94dc851 button:hover {
  transform: scale(1.2);
}

.notion-block-359d4507471542cd87786b48c94dc851 button {
  border: none;
  background: none;
  font-size: 17px;
}


.notion-block-359d4507471542cd87786b48c94dc851 .notion-asset-wrapper iframe {
  border: none;
  background: none;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-asset-wrapper.notion-asset-wrapper-embed {
  height: 23px;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-asset-wrapper {
  margin-bottom: .3em;
  margin-top: .7rem;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-callout-text .notion-text {
    padding: 0.1em 2px;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-callout-text {
  margin-left: 4px !important;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-callout {
  margin: .5em 0;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-callout {
  padding: 5px 16px 5px 12px !important;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-h3 {
  margin-top: 6px !important;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-page-icon-inline.notion-page-icon-span {
  display: none;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-collection-page-properties {
  display: none;
}

.notion-block-359d4507471542cd87786b48c94dc851 .notion-title {
  display: none;
}

/* toots */

/*.notion-collection.notion-block-8ab95c247c814cf6b8fa094ff8ab0b40 {
  display: none;
}*/

.notion-collection-card:hover {
  opacity: .7;
}

.notion-page {
  padding-left: 0px;
  padding-right: 0px;
  width: 720px;
}

/* hides the title from index page */

/* .index-page .notion-title {
  font-family: Inter;
  display: none;
} */

.notion-collection-card-cover {
  height: 190px;
}

.notion {
  --notion-max-width: 676px;
  --notion-header-height: 54px;
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
}

.notion > * {
  padding: 0px 0;
}

.notion-header .notion-nav-header {
  background: white;
  /* display: none;
  margin-top: 60px; */
}

.notion-title {
  margin-bottom: 5px;
  /* font-family: Inter; */
}

.notion-property.notion-property-last_edited_time, .notion-property.notion-property-date {
  opacity: .5;
} 

.dark-mode {
  background-color: #2f3437 !important
  /* background-color: #22252A !important */
}

.dark-mode .notion-header .notion-nav-header {
  background: #2f3437 !important;
  /* background: #22252A !important; */
  /* display: none;
  margin-top: 60px; */
}

.dark-mode .notion-collection-row {
  border-bottom: 1px solid #555;
}

.dark-mode .notion-simple-table {
  border: 1px solid #555 !important;
}

.notion-collection-card:hover {
 background:none !important;
}

/* .notion-page-title-text:hover {
  text-decoration: underline;
} */

.dark-mode .notion-header {
  background: none !important;
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  box-shadow: none !important;
  width: 100%;
  position:sticky;
}
.notion-header {
  background: none !important;
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  width: 100%;
  position:sticky;
  max-width:100vw;
}

.notion-collection-card {
  border: 1px solid #ececec;
}

.dark-mode .notion-collection-card {
  border: 1px solid #3f4447;
}

@media (max-width: 767px) {

.dark-mode .notion-header {
  background: #22252A !important !important;
  box-shadow: none !important;
}



.notion-header {
  background: white !important;
  }

.notion-header .notion-nav-header {
  padding: 0 2px;
}
  
}

/** .notion-property.notion-property-date::before {
  content: 'Updated on';
  margin-right: 5px;
} **/

.notion-page-has-cover.notion-page-has-icon.notion-page-has-text-icon {
  padding-top: 20px;
}

.notion-page-has-cover {
  padding-top: 20px;
}

.notion-gallery-grid .notion-property-text {
  font-size: 14px;
  display: none;
}

.notion-table {

  width: 676px !important;  
  max-width: 676px !important;

}

.notion-table-view {
  width: 620px !important;  
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.notion-table-header {
  display: none;
}

.notion-table-row {
  border-bottom: #555;
}

.notion-table-cell .notion-table-cell-title 
{
  width:651px;
}

.notion-table-cell {
  font-size: 16px;
  padding: 2px 1px 1px;
}

.notion-search-button {
  display: none !important;
}

.notion-page-has-cover .notion-page-icon-hero.notion-page-icon-span {
  top: -10px;
}


.notion-page-icon-hero.notion-page-icon-span .notion-page-icon {
  /* display: none; */

  font-size: 62px;
  line-height: 1.1;
  margin-left: 0px;
  color: var(--fg-color-icon);
  position: relative;
  display: block;
}

.notion-page-icon-hero.notion-page-icon-span {
  height: 78px;
  width: 78px;
  margin-left: 0px;
}

.notion-page-icon-hero {
  /* display: none; */
  position: relative;
  top:0;
  left:0%;
}

.notion-page-icon-hero.notion-page-icon-image {
  width: 78px;
  height: 78px;
  margin-left: 0px;
}

.notion-page-has-cover .notion-page-icon-hero.notion-page-icon-image {
  top: -10px !important;
}

.notion-page-has-cover .notion-page-icon-hero.notion-page-icon-image {
  /* display: none; */
  font-size: 78px;
  line-height: 1.1;
  margin-left: 0px !important;
  color: var(--fg-color-icon);
  position: relative;
    display: block;
}

.notion-page-content-has-aside .notion-aside {
  display: none;
}

.githubCorner {
  display: none;
}

.notion-page {
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.65;
}

.index-page {
  --notion-max-width: 676px;
}

.notion-text {
  font-size: 16px;
  padding: 0.5em 2px;
}

.notion-asset-caption {
  text-align: center;
}

.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.notion-asset-wrapper-video > div,
.notion-asset-wrapper-video video {
  width: 100% !important;
}

.notion-header .notion-nav-header {
  max-width: 100vw;
  margin: 0 60px 0 60px;
}

.notion-nav-header-rhs {
  gap: 0.5rem;
}

.notion-gallery-grid {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 1vmin;
  gap: 1vmin;
  border-top: none;
}

.notion-gallery-grid .notion-page-icon-inline {
  display: none;
}

.notion-gallery-grid .notion-page-title-text {
  font-size: 1.2em;
  white-space: unset;
  text-decoration: none !important;
}

.notion-page-title-text {
  text-decoration: none !important;
  border-bottom: 0;
}

.notion-gallery-grid .notion-collection-card-property {
  white-space: unset;
  text-overflow: unset;
}

.notion-gallery-grid .notion-property-text {
  font-size: 14px;
}

.notion-collection-card {
  border-radius: 5px;
  box-shadow: none;
}

.notion-collection-card-cover img {
  border-radius: 5px 5px 0px 0px;
}

.notion-collection-card {
  overflow: visible;
}

.notion-collection-card-cover {
  border-radius: 5px 5px 0px 0px;
  box-shadow: none;
}

.notion-collection-card-cover {
  border-bottom: 0 none;
  transition: filter 150ms linear;
  filter: none;
}

.notion-collection-card:hover .notion-collection-card-cover {
  filter: brightness(102%);
}

.notion-collection-card-body {
  padding: 10px;
} 

/* only target safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  .notion-collection-card-cover {
    transition: none 0ms linear;
  }
}

.notion-quote {
  padding: 0.2em 0.75em;
  font-size: 16px;
  line-height: 1.5;
  border-left: 4px solid #67bdfc;
}

.notion-h1,
.notion-h2,
.notion-h3 {
  margin-top: 1em;
  margin-bottom: 0.25em;
  padding: 1px 1px;
}

.notion-toggle{
  font-size: 16px;
}

.notion-callout {
  margin: 0.75em 0;
  border-color: #121212 !important;
}

.notion-hr {
  border-width: 0.5px;
  margin: 0.25em 0;
  border-color: #121212;
}

@media only screen and (max-width: 920px) {
  .index-page.notion-page {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media only screen and (max-width: 720px) {
  .notion-page {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .notion-page-icon-hero.notion-page-icon-image {
    margin-left: -32px;
}
}

@media only screen and (max-width: 600px) {

  .notion-page-scroller {
    margin: 10px 0px 0px 0px;
  }

  .notion {
    --notion-max-width: 400px;
  }  
  .notion-search-button {
    display: none !important;
  }
  .notion-table {
    width: 400px !important;
    max-width: 400px !important;

  }
  .notion-table-body {
    width: 400px !important;
  }
  .notion-table-view  {
    width: 400px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .notion-table-header-placeholder {
    width: 400px !important;
  }

  .notion-table-row {
    width: 400px !important;
  }
  .notion-table-cell .notion-table-cell-title {
  width: 400px !important;
  }

  .notion-header .notion-nav-header {
    max-width: 100vw;
    margin: 0 10px 0 10px;
  }

}

.notion .notion-page-icon-cover {
  margin-left: auto;
  margin-right: auto;
}

.notion-title {
  
  display: block;
  text-align: left;
}

.notion-collection-row {
  padding-bottom: 1em;
}

.notion-collection-page-properties .notion-collection-column-title {
  display: none;
}

.notion-collection-row-property .notion-property {
  display: flex;
  justify-content: left;
}

.notion-collection-row-value {
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 23px;
}

.notion-page-cover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}

.notion-asset-wrapper img {
  border-radius: 18px;
}

.notion-page-cover-wrapper,
.notion-page-cover-wrapper span,
.notion-page-cover-wrapper img {
  max-width: 676px !important;
  border-radius: 10px;
  display: none;
}

.notion-page-cover-wrapper.no-cover,
.notion-page-cover-wrapper.no-cover span,
.notion-page-cover-wrapper.no-cover img {
  display: none !important;
}

.notion-page-cover-wrapper {
  box-shadow: 2px 1px 8px 1px hsla(0, 0%, 63.5%, 0.1);
}

@media only screen and (max-width: 1200px) {
  .notion-page-cover-wrapper,
  .notion-page-cover-wrapper span,
  .notion-page-cover-wrapper img {
    border-radius: 0;
  }
}

.notion-block-ab9a258d6cf444f3bb40dc2600feae91 .notion-page-link {
  justify-content: center;
  padding: 2em;
}

.notion-page-link {
  border-bottom: 0;
  text-decoration: none !important; /* Prevents underline */
}

.notion-page-link:focus,
.notion-page-link:hover {
  text-decoration: none !important; /* Ensures no underline appears on hover or focus */
}

.notion-code {
  background: rgba(249, 250, 251, 1);
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
}

.notion-link {
  /* text-decoration: underline; */
  /* border-bottom: 0; */
  position: relative;
  transition: unset;
  opacity: 0.7;
  border-bottom-width: 0.1rem;
  background: transparent;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 0 0.1rem;
}

.notion-list {
  font-size: 16px;
}

.notion-link:focus,
.notion-link:hover {
  /* text-decoration: underline !important; */
  border-bottom-color: transparent;

  /* background-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%); */
  background-image: linear-gradient(90.68deg, #67bdfc 0.26%, #4ab0f9 102.37%); 

  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0.1rem;

  transition-property: background-position, background-size;
  transition-duration: 300ms;
}

.notion-red_background,
.notion-pink_background,
.notion-blue_background,
.notion-purple_background,
.notion-teal_background,
.notion-yellow_background,
.notion-orange_background,
.notion-brown_background,
.notion-gray_background {
  padding: 0 0.5rem;
  margin: 0 -0.5rem 0 -0.25rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.125rem;
  box-decoration-break: clone;

  background-color: none;

  /* light yellow */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #fff697 10.5%,
    #fdf59d 85.29%,
    var(--bg-color)
  );
}

.notion-purple_background,
.notion-pink_background {
  /* light pink */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #f5b8d1 10.5%,
    #f9bcd3 85.29%,
    var(--bg-color)
  );
}

.notion-blue_background,
.notion-gray_background {
  /* light blue */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #adedfc 10.5%,
    #adebfd 85.29%,
    var(--bg-color)
  );
}

.notion-red_background,
.notion-orange_background {
  /* light red */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #f5c4ff 10.5%,
    #e7a8fc 85.29%,
    var(--bg-color)
  );
}

.notion-teal_background {
  /* light green */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #d4eabc 10.5%,
    #d2eabc 85.29%,
    var(--bg-color)
  );
}

.notion-brown_background {
  /* dark blue */
  background-image: linear-gradient(
    119deg,
    var(--bg-color),
    #96b8ec 10.5%,
    #a6c3f0 85.29%,
    var(--bg-color)
  );
}

.page-with-cover .notion-page-cover-wrapper {
  display: block; /* Ensure it's visible */
}

.index-page .notion-page-cover-wrapper,
.no-cover-page .notion-page-cover-wrapper {
  display: none; /* Hide the cover image */
}

.notion-page-cover-wrapper {
  min-height: 200px; /* Adjust based on your design needs */
}

/* For pages without cover images, to not occupy space */
.index-page .notion-page-cover-wrapper,
.no-cover-page .notion-page-cover-wrapper {
  min-height: 0; /* No space occupied */
}

/* disable highlighting in dark mode */
.dark-mode .notion-red_background,
.dark-mode .notion-pink_background,
.dark-mode .notion-blue_background,
.dark-mode .notion-purple_background,
.dark-mode .notion-teal_background,
.dark-mode .notion-yellow_background,
.dark-mode .notion-orange_background,
.dark-mode .notion-brown_background,
.dark-mode .notion-gray_background {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none !important;
}

/* if you don't want rounded page icon images, remove this */
.notion-page-icon-hero.notion-page-icon-image {
  border-radius: 50%;
  box-shadow: 0 8px 40px 0 rgb(0 0 0 / 21%);
}
.notion-page-icon-hero.notion-page-icon-image span,
.notion-page-icon-hero.notion-page-icon-image img {
  border-radius: 50%;
}


.notion-header {
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(16px);
}

.dark-mode .notion-header {
  background: transparent;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(8px);
}

/* Workaround for Firefox not supporting backdrop-filter yet */
@-moz-document url-prefix() {
  .dark-mode .notion-header {
    background: hsla(203, 8%, 20%, 0.8);
  }
}

.notion-bookmark:hover {
  border-image: linear-gradient(90.68deg, #b439df 0.26%, #e5337e 102.37%);
  border-image-slice: 1;
}

.notion-bookmark {
  border-color: #FFFFFFDE;
  border-radius: 18px;
}

.notion-block-ab9a258d6cf444f3bb40dc2600feae91 .notion-column {
  padding: 0;
}

.notion-block-260baa77f1e1428b97fb14ac99c7c385 {
  display: none;
}

.notion-block-53227241f3d54045ab5992f52c8340a6{
  display: none;
}

.notion-page-scroller {
  margin-top: 20px;
}
